.Sociedad {
    background-color: #252736;
    display: grid;
    grid-column: 7/12;
    grid-row: 3/5;
    margin-right: 40px;
    border-radius: 10px;
    padding: 20px;
}

/* .Sociedad p {
    font-size: 16px;
    color: #FAFAFA;
} */

.Sociedad_componente {
    display: flex;
    flex-direction: column;
}

.Sociedad_bloque {
    flex-direction: row;
    padding-bottom: 20px;
}

.Sociedad_title {
    color: #CACACA;
    font-size: 16px;
}

.Sociedad_bloque img {
    height: 80px;
    margin: 20px 0px;
}